USE [master]
GO
/****** Object:  Database [game]    Script Date: 05.05.2023 07:35:58 ******/
CREATE DATABASE [game]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'game', FILENAME = N'D:\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\game.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'game_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\game_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [game].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [game]
GO
/****** Object:  Table [dbo].[answer]    Script Date: 05.05.2023 07:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[answer](
	[id] [int] NOT NULL,
	[text] [text] NULL,
	[image_url] [varchar](256) NULL,
 CONSTRAINT [PK_answer] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[answered_question]    Script Date: 05.05.2023 07:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[answered_question](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[player_id] [int] NOT NULL,
	[question_id] [int] NOT NULL,
	[answered_on] [datetime] NOT NULL,
	[seconds_spent] [int] NOT NULL,
 CONSTRAINT [PK_answered_question] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[given_answer]    Script Date: 05.05.2023 07:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[given_answer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[answered_question_id] [int] NOT NULL,
	[question_answer_id] [int] NOT NULL,
 CONSTRAINT [PK_given_answer] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[land]    Script Date: 05.05.2023 07:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[land](
	[id] [int] NOT NULL,
	[name] [varchar](32) NULL,
	[player_id] [int] NULL,
	[realm_id] [int] NOT NULL,
 CONSTRAINT [PK_land] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[player]    Script Date: 05.05.2023 07:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[player](
	[id] [int] NOT NULL,
	[login] [varchar](32) NOT NULL,
	[password_hash] [varbinary](max) NOT NULL,
	[password_salt] [varbinary](max) NOT NULL,
	[registered_on] [datetime] NOT NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[question]    Script Date: 05.05.2023 07:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[question](
	[id] [int] NOT NULL,
	[text] [text] NULL,
	[image_url] [text] NULL,
 CONSTRAINT [PK_question] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[question_answer]    Script Date: 05.05.2023 07:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[question_answer](
	[id] [int] NOT NULL,
	[question_id] [int] NOT NULL,
	[answer_id] [int] NOT NULL,
	[is_correct] [tinyint] NOT NULL,
 CONSTRAINT [PK_question_answer] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[question_tag]    Script Date: 05.05.2023 07:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[question_tag](
	[id] [int] NOT NULL,
	[question_id] [int] NOT NULL,
	[tag_id] [int] NOT NULL,
 CONSTRAINT [PK_question_tag] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[realm]    Script Date: 05.05.2023 07:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[realm](
	[id] [int] NOT NULL,
	[name] [varchar](32) NULL,
 CONSTRAINT [PK_realm] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tag]    Script Date: 05.05.2023 07:35:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tag](
	[id] [int] NOT NULL,
	[name] [varchar](32) NOT NULL,
 CONSTRAINT [PK_tag] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_user]    Script Date: 05.05.2023 07:35:58 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_user] ON [dbo].[player]
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[answered_question]  WITH CHECK ADD  CONSTRAINT [FK_answered_question_question1] FOREIGN KEY([question_id])
REFERENCES [dbo].[question] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[answered_question] CHECK CONSTRAINT [FK_answered_question_question1]
GO
ALTER TABLE [dbo].[answered_question]  WITH CHECK ADD  CONSTRAINT [FK_answered_question_user1] FOREIGN KEY([player_id])
REFERENCES [dbo].[player] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[answered_question] CHECK CONSTRAINT [FK_answered_question_user1]
GO
ALTER TABLE [dbo].[given_answer]  WITH CHECK ADD  CONSTRAINT [FK_given_answer_answered_question] FOREIGN KEY([answered_question_id])
REFERENCES [dbo].[answered_question] ([id])
GO
ALTER TABLE [dbo].[given_answer] CHECK CONSTRAINT [FK_given_answer_answered_question]
GO
ALTER TABLE [dbo].[given_answer]  WITH CHECK ADD  CONSTRAINT [FK_given_answer_question_answer1] FOREIGN KEY([question_answer_id])
REFERENCES [dbo].[question_answer] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[given_answer] CHECK CONSTRAINT [FK_given_answer_question_answer1]
GO
ALTER TABLE [dbo].[question_answer]  WITH CHECK ADD  CONSTRAINT [FK_question_answer_answer] FOREIGN KEY([answer_id])
REFERENCES [dbo].[answer] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[question_answer] CHECK CONSTRAINT [FK_question_answer_answer]
GO
ALTER TABLE [dbo].[question_answer]  WITH CHECK ADD  CONSTRAINT [FK_question_answer_question1] FOREIGN KEY([question_id])
REFERENCES [dbo].[question] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[question_answer] CHECK CONSTRAINT [FK_question_answer_question1]
GO
ALTER TABLE [dbo].[question_tag]  WITH CHECK ADD  CONSTRAINT [FK_question_tag_question] FOREIGN KEY([question_id])
REFERENCES [dbo].[question] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[question_tag] CHECK CONSTRAINT [FK_question_tag_question]
GO
ALTER TABLE [dbo].[question_tag]  WITH CHECK ADD  CONSTRAINT [FK_question_tag_tag] FOREIGN KEY([question_id])
REFERENCES [dbo].[tag] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[question_tag] CHECK CONSTRAINT [FK_question_tag_tag]
GO
USE [master]
GO
